<div class="banner">
  <img src="images/banner.png" style="width:100%; height:auto"/>
</div>
<hr/>
<iframe style="display: block; margin-left: auto; margin-right: auto" width="560" height="315" src="https://www.youtube.com/embed/j2THqgzxLAk?ecver=1" frameborder="0" allowfullscreen></iframe>
<hr/>
<p>
  Dementia is a condition which affects over 50% of aged care facility residents in Australia. Based on
  current projections the number of people in Australia with dementia will reach 400,000 by 2020. The most common form
  of dementia is Alzheimer’s disease, for which there is currently no cure. Symptoms typically include the loss of
  memory and difficulty with language. We built Nicole (refreshd's AI care assistant) to improve the quality of life for those living
  with dementia, and their carers.
</p>
<hr/>
<div class="row">
  <div class="col-sm-4 row-image">
    <img src="images/telephone.png"/>
    <h4>Home Phone</h4>
    <span>Nicole uses the traditional home phone to communicate with patients</span>
  </div>
  <div class="col-sm-4 row-image">
    <img src="images/chat.png"/>
    <h4>Set Reminders</h4>
    <span>Encourage patterns of behaviour, and prompt patients about special events with spoken reminders</span>
  </div>
  <div class="col-sm-4 row-image">
    <img src="images/phonebook.png"/>
    <h4>Call Friends &amp; Family</h4>
    <span>Patients can call loved ones by speaking their names, rather than remembering phone numbers</span>
  </div>
</div>
<hr/>
<p>
  Nicole currently offers a reminder and calling service, all via the traditional home phone. The reminders
  provide prompts for dementia patients, set by their carers. The reminders are completely customisable, for example a
  carer could set a daily reminder for their patient to take medication or to attend a therapy session. Nicole's
  Australian voice encourages patients to carry out their routines with a sense of independence, all via a familiar
  technology, their home phone.
</p>
<div class="row">
  <div class="col-md-6">
    <p>
      Nicole also offers AI assisted voice dialing, similar to that found on most smartphones today. Patients can call
      friends and family by speaking their names or relationship to the patient. For example a patient might ask to call
      their daughter (rather than recalling their name). Simple voice dialling encourages communication by reducing the
      friction in making a call to friends and family.
    </p>
    <p>
      If you're interested in alpha testing Nicole please let us know. We would like to extend our thanks to those who care for dementia
      patients and the pioneers who tirelessly search for cures to this condition. If you're interested in supporting these
      efforts you can donate at <a href="https://www.fightdementia.org.au/support-us/donate-to-us">fightdementia.org.au</a>.
    </p>
  </div>
  <div class="col-md-6">
    <img src="images/home.png" style="width:100%;height:auto;"/>
  </div>
</div>
